[submodule "cairo_contracts"]
	path = lib/cairo_contracts
	url = https://github.com/OpenZeppelin/cairo-contracts
[submodule "ERC3156_starknet"]
	path = lib/ERC3156_starknet
	url = https://github.com/0xAurelou/ERC3156-starknet
