---
---

@import "{{ site.theme }}";

h1, h2, h3, h4, a {
  font-weight: bold;
  padding-top: 10px;
  padding-bottom: 10px;
}

a {
  color: #b5e853;
}

a:link, a:visited {
  text-decoration: none;
}

a:hover, a:active {
  text-decoration: underline;
}

#readme-title, #readme-description {
  display: none;
}